*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#weatherdiv{
  height:100vh;
  padding:20px;
  text-align: center;
  background: linear-gradient( #0c0b0b33, #bb4704),url("https://cdn.pixabay.com/photo/2021/01/09/12/28/tulips-5902188_1280.jpg") no-repeat;
  
}
#heading{
  margin:0px 0px 10px;
  color:white;
  font-size: 4rem;
  text-shadow:9px 6px 4px #bb4704, 11px 6px 6px white;
  
}

#wsdiv{
  margin: auto;
  width: 50%;
  
  padding: 10px;
  text-align: center;
 
}
#winput,#wbutt{
  padding:10px;
  margin:10px;
  border-radius: 5px;
  border:solid white;
  background-color:rgba(215, 113, 76, 0.247);
  font-size: 20px;
  color:#3a130394
  
  }
#winput:focus{
  color:white;
  border: solid white;
  outline:none;
}
#wbutt:hover{
  background-color: #bb4704;
  color:white;
}
#wdata{
  width: 50%;
  /* border:solid white; */
  height:60%;
  margin:10px  auto;
  border-radius: 20px;
  color:white;
  background-color:  rgba(215, 113, 76, 0.329);
  box-shadow:-5px -5px 20px 0px #cea993, 7px 6px 20px 0px #cea993;
  
}
.name{
  font-size:6rem;
}
.data{
  font-size:2rem;
}
